<div id="<%= dom_id contrato %>">
  <p>
    <strong>Servico:</strong>
    <%= Servico.find(contrato.servico_id).nome %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= Cliente.find(contrato.cliente_id).nome %>
  </p>

</div>
