<p style="color: green"><%= notice %></p>

<h1>Servicos Contratados</h1>

<div id="contratos">
  <% @contratos.each do |contrato| %>
    <%= render contrato %>
    <p>
      <%= link_to "Show this contrato", contrato %>
    </p>
  <% end %>
</div>

<br>
<%= link_to "Voltar" , :back%>